In [ ]:
!pip install pyspark

In [2]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as F

In [3]:
spark = (SparkSession.builder\
        .master("local")\
        .appName("mini-projeto_final")\
        .config("spark.ui.port", "4050")\
        .getOrCreate())

In [8]:
df = (spark
      .read
      .format("csv")
      .option("header", "true")
      .option("inferschema", "true")
      .option("delimiter", ",")
      .load("/content/drive/MyDrive/Mini Projeto Final/df_marketing_campaing_pyspark.csv/part-00000-47f1a19d-1776-4095-9a33-09d45df48e44-c000.csv")
      .createOrReplaceTempView("tabela_marketing"))

In [56]:
spark.sql('DESCRIBE tabela_marketing').show(50)

+--------------------+---------+-------+
|            col_name|data_type|comment|
+--------------------+---------+-------+
|          Id_Cliente|      int|   null|
|      Ano_Nascimento|      int|   null|
|        Escolaridade|   string|   null|
|        Estado_Civil|   string|   null|
|               Renda|   double|   null|
|             Crianca|      int|   null|
|         Adolescente|      int|   null|
|       Data_Cadastro|   string|   null|
|  Dias_Ultima_Compra|      int|   null|
|           Qtd_Vinho|      int|   null|
|          Qtd_Frutas|      int|   null|
|      Qtd_Prod_Carne|      int|   null|
|      Qtd_Prod_Peixe|      int|   null|
|       Qtd_Prod_Doce|      int|   null|
|       Qtd_Prod_Gold|      int|   null|
|Num_Compras_Promocao|      int|   null|
|    Num_Compras_Site|      int|   null|
|Num_Compras_Catalogo|      int|   null|
|    Num_Compras_Loja|      int|   null|
|Num_Compras_Site_...|      int|   null|
|   Campanha_Aceita_3|   string|   null|
|   Campanha_Aceita_4|   string|   null|
|   Campanha_Aceita_5|   string|   null|
|   Campanha_Aceita_1|   string|   null|
|   Campanha_Aceita_2|   string|   null|
|         Reclamacoes|   string|   null|
|    Resposta_Cliente|   string|   null|
|        Filhos_Total|      int|   null|
|  Qtd_Comprada_Total|      int|   null|
|       Idade_Cliente|      int|   null|
|               Ordem|      int|   null|
|                Rank|      int|   null|
+--------------------+---------+-------+

In [26]:
spark.sql('SELECT *  FROM tabela_marketing').show()

+----------+--------------+------------------+------------+-------+-------+-----------+-------------+------------------+---------+----------+--------------+--------------+-------------+-------------+--------------------+----------------+--------------------+----------------+-----------------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------+----------------+------------+------------------+-------------+-----+----+
|Id_Cliente|Ano_Nascimento|      Escolaridade|Estado_Civil|  Renda|Crianca|Adolescente|Data_Cadastro|Dias_Ultima_Compra|Qtd_Vinho|Qtd_Frutas|Qtd_Prod_Carne|Qtd_Prod_Peixe|Qtd_Prod_Doce|Qtd_Prod_Gold|Num_Compras_Promocao|Num_Compras_Site|Num_Compras_Catalogo|Num_Compras_Loja|Num_Compras_Site_Mensal|Campanha_Aceita_3|Campanha_Aceita_4|Campanha_Aceita_5|Campanha_Aceita_1|Campanha_Aceita_2|Reclamacoes|Resposta_Cliente|Filhos_Total|Qtd_Comprada_Total|Idade_Cliente|Ordem|Rank|
+----------+--------------+------------------+------------+-------+-------+-----------+-------------+------------------+---------+----------+--------------+--------------+-------------+-------------+--------------------+----------------+--------------------+----------------+-----------------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------+----------------+------------+------------------+-------------+-----+----+
|      7734|          1993|        Graducacao|        null|79244.0|      0|          0|   2012-12-19|                58|      471|       102|           125|           212|           61|          245|                   1|               4|                  10|               7|                      1|              Não|              Não|              Sim|              Sim|              Não|        Não|             Sim|           0|              1216|           28|   15|   1|
|      4369|          1957|          Mestrado|        null|65487.0|      0|          0|   2014-10-01|                48|      240|        67|           500|           199|            0|          163|                   3|               3|                   5|               6|                      2|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           0|              1169|           64| 1790|   2|
|        92|          1988|        Graducacao|        null|34176.0|      1|          0|   2014-12-05|                12|        5|         7|            24|            19|           14|           20|                   4|               3|                   0|               4|                      6|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           1|                89|           33|   93|   3|
|       492|          1973|         Doutorado|        null|48432.0|      0|          1|   2012-10-18|                 3|      322|         3|            50|             4|            3|           42|                   5|               7|                   1|               6|                      8|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           1|               424|           48|  911|   4|
|     11133|          1973|         Doutorado|        null|48432.0|      0|          1|   2012-10-18|                 3|      322|         3|            50|             4|            3|           42|                   5|               7|                   1|               6|                      8|              Não|              Não|              Não|              Não|              Não|        Não|             Sim|           1|               424|           48|  913|   5|
|      7660|          1973|         Doutorado|        null|35860.0|      1|          1|   2014-05-19|                37|       15|         0|             8|             4|            2|           20|                   2|               1|                   1|               2|                      5|              Sim|              Não|              Não|              Não|              Não|        Não|             Sim|           2|                49|           48|  845|   6|
|       433|          1958|          Mestrado|        null|61331.0|      1|          1|   2013-10-03|                42|      534|         5|            47|             0|            5|           41|                   5|              11|                   1|               6|                      8|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           2|               632|           63| 1706|   7|
|      9909|          1996|      Ensino Medio|   Casado(a)| 7500.0|      0|          0|   2012-09-11|                24|        3|        18|            14|            15|           22|           50|                   3|               3|                   1|               3|                      9|              Não|              Não|              Não|              Não|              Não|        Não|             Sim|           0|               122|           25|    1|   1|
|       193|          1996|Ensino Fundamental|   Casado(a)|14421.0|      0|          0|   2014-02-17|                81|        0|         0|             2|             3|            3|            8|                   1|               1|                   0|               2|                      5|              Sim|              Não|              Não|              Não|              Não|        Não|             Não|           0|                16|           25|    2|   2|
|      3386|          1992|        Graducacao|   Casado(a)|34935.0|      0|          0|   2013-06-21|                71|       34|         4|            66|             3|           10|           20|                   1|               2|                   1|               4|                      7|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           0|               137|           29|   18|   3|
|      8175|          1992|        Graducacao|   Casado(a)|34935.0|      0|          0|   2013-06-21|                71|       34|         4|            66|             3|           10|           20|                   1|               2|                   1|               4|                      7|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           0|               137|           29|   24|   4|
|      2802|          1992|      Ensino Medio|   Casado(a)|87000.0|      0|          0|   2012-12-15|                61|      196|        25|           607|            67|           17|           49|                   1|               4|                   6|               7|                      2|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           0|               961|           29|   27|   5|
|      9214|          1991|        Graducacao|   Casado(a)|42691.0|      0|          0|   2013-08-16|                48|      179|         2|            64|            38|           17|           58|                   1|               5|                   1|               6|                      5|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           0|               358|           30|   32|   6|
|      4552|          1991|        Graducacao|   Casado(a)|51373.0|      0|          0|   2013-06-22|                37|       83|         2|           101|            64|           26|          117|                   1|               3|                   5|               3|                      4|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           0|               393|           30|   42|   7|
|      9529|          1990|        Graducacao|   Casado(a)|73687.0|      0|          0|   2013-11-28|                 8|      559|       153|           503|           218|           13|          181|                   1|               3|                   9|               9|                      2|              Não|              Não|              Não|              Sim|              Não|        Não|             Sim|           0|              1627|           31|   44|   8|
|      8151|          1990|Ensino Fundamental|   Casado(a)|24279.0|      0|          0|   2012-12-29|                 6|       16|        36|            21|            20|           62|          108|                   1|               4|                   1|               3|                      8|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           0|               263|           31|   45|   9|
|      8278|          1990|         Doutorado|   Casado(a)|74214.0|      0|          0|   2012-08-26|                 3|      863|        83|           547|            86|           99|           33|                   1|               8|                   2|               5|                      5|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           0|              1711|           31|   48|  10|
|      3068|          1990|        Graducacao|   Casado(a)|18351.0|      0|          0|   2013-10-29|                 1|        1|        12|             9|             0|           14|            7|                   1|               2|                   0|               3|                      7|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           0|                43|           31|   49|  11|
|      2253|          1990|        Graducacao|   Casado(a)|18929.0|      0|          0|   2013-02-16|                15|       32|         0|             8|            23|            4|           18|                   1|               1|                   0|               4|                      6|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           0|                85|           31|   50|  12|
|      2431|          1990|        Graducacao|   Casado(a)|18222.0|      0|          0|   2012-12-31|                70|       12|         4|            19|            12|            6|           14|                   1|               2|                   0|               3|                      8|              Não|              Não|              Não|              Não|              Não|        Não|             Não|           0|                67|           31|   55|  13|
+----------+--------------+------------------+------------+-------+-------+-----------+-------------+------------------+---------+----------+--------------+--------------+-------------+-------------+--------------------+----------------+--------------------+----------------+-----------------------+-----------------+-----------------+-----------------+-----------------+-----------------+-----------+----------------+------------+------------------+-------------+-----+----+
only showing top 20 rows

In [ ]:
# Utilizar no minimo 10 consultas diferentes utilizando o SparkSQL,
#comentando o porquê de ter escolhido essas funções e explicando o que cada consulta faz.

In [40]:
#Escolaridade e Estado Civil ordenados por idade do cliente (crescente)
spark.sql(''' SELECT Escolaridade, Estado_Civil, Idade_Cliente FROM tabela_marketing ORDER BY Idade_Cliente''').show()

+------------------+------------+-------------+
|      Escolaridade|Estado_Civil|Idade_Cliente|
+------------------+------------+-------------+
|      Ensino Medio|   Casado(a)|           25|
|Ensino Fundamental|   Casado(a)|           25|
|      Ensino Medio| Solteiro(a)|           26|
|      Ensino Medio| Solteiro(a)|           26|
|        Graducacao| Solteiro(a)|           26|
|        Graducacao| Solteiro(a)|           26|
|        Graducacao| Solteiro(a)|           26|
|        Graducacao|   Namorando|           27|
|        Graducacao| Solteiro(a)|           27|
|        Graducacao|   Namorando|           27|
|        Graducacao| Solteiro(a)|           28|
|        Graducacao| Solteiro(a)|           28|
|        Graducacao| Solteiro(a)|           28|
|        Graducacao| Solteiro(a)|           28|
|        Graducacao|        null|           28|
|        Graducacao|   Casado(a)|           29|
|Ensino Fundamental|   Casado(a)|           29|
|          Mestrado|   Namorando|           29|
|          Mestrado| Solteiro(a)|           29|
|        Graducacao|   Casado(a)|           29|
+------------------+------------+-------------+
only showing top 20 rows

In [27]:
#Listar a Soma e Media da Renda, além de Renda Mínima e Máxima, agrupada por Escolaridade
spark.sql('SELECT Escolaridade, SUM(Renda) AS Soma_Renda, MIN(Renda) AS Renda_Min, MAX(Renda) AS Renda_Max, AVG(Renda) AS Renda_Media FROM tabela_marketing GROUP BY Escolaridade ORDER BY Escolaridade').show()

+------------------+-----------+---------+---------+------------------+
|      Escolaridade| Soma_Renda|Renda_Min|Renda_Max|       Renda_Media|
+------------------+-----------+---------+---------+------------------+
|         Doutorado|2.6922364E7|   4023.0| 162397.0| 56088.25833333333|
|Ensino Fundamental|  1096538.0|   7500.0|  34445.0| 20306.25925925926|
|      Ensino Medio|  9429816.0|   7500.0|  96547.0|47625.333333333336|
|        Graducacao|5.8835937E7|   1730.0| 666666.0| 52720.37365591398|
|          Mestrado|  1.93149E7|   6560.0| 157733.0| 52917.53424657534|
+------------------+-----------+---------+---------+------------------+

In [59]:
#Listar as campanhas aceitas de acordo com ID do cliente
spark.sql('''SELECT Id_Cliente, Campanha_Aceita_1, Campanha_Aceita_2, Campanha_Aceita_3, Campanha_Aceita_4 Campanha_Aceita_5  FROM tabela_marketing''').show()

+----------+-----------------+-----------------+-----------------+-----------------+
|Id_Cliente|Campanha_Aceita_1|Campanha_Aceita_2|Campanha_Aceita_3|Campanha_Aceita_5|
+----------+-----------------+-----------------+-----------------+-----------------+
|      7734|              Sim|              Não|              Não|              Não|
|      4369|              Não|              Não|              Não|              Não|
|        92|              Não|              Não|              Não|              Não|
|       492|              Não|              Não|              Não|              Não|
|     11133|              Não|              Não|              Não|              Não|
|      7660|              Não|              Não|              Sim|              Não|
|       433|              Não|              Não|              Não|              Não|
|      9909|              Não|              Não|              Não|              Não|
|       193|              Não|              Não|              Sim|              Não|
|      3386|              Não|              Não|              Não|              Não|
|      8175|              Não|              Não|              Não|              Não|
|      2802|              Não|              Não|              Não|              Não|
|      9214|              Não|              Não|              Não|              Não|
|      4552|              Não|              Não|              Não|              Não|
|      9529|              Sim|              Não|              Não|              Não|
|      8151|              Não|              Não|              Não|              Não|
|      8278|              Não|              Não|              Não|              Não|
|      3068|              Não|              Não|              Não|              Não|
|      2253|              Não|              Não|              Não|              Não|
|      2431|              Não|              Não|              Não|              Não|
+----------+-----------------+-----------------+-----------------+-----------------+
only showing top 20 rows

In [68]:
#TRÊS MAIORES CONSUMO DE VINHO, RECLACIONADO COM ESTADO CIVIL
spark.sql("SELECT Ordem, Estado_Civil, Qtd_Vinho FROM tabela_marketing ORDER BY Qtd_vinho DESC;").show(3)

+-----+------------+---------+
|Ordem|Estado_Civil|Qtd_Vinho|
+-----+------------+---------+
| 2126|   Casado(a)|     1493|
| 1667|   Namorando|     1492|
| 1672|   Namorando|     1492|
+-----+------------+---------+
only showing top 3 rows

In [76]:
#Quantidade de compras onlibe relacionado com o grau de escolaridade
spark.sql('''SELECT DISTINCT Escolaridade, COUNT( Num_Compras_Site) AS Qtd FROM tabela_marketing GROUP BY Escolaridade ''').show()

+------------------+----+
|      Escolaridade| Qtd|
+------------------+----+
|        Graducacao|1116|
|         Doutorado| 480|
|      Ensino Medio| 198|
|Ensino Fundamental|  54|
|          Mestrado| 365|
+------------------+----+

In [78]:
#Quantidade de compras (total) de acordo com o Estado Civil)
spark.sql('''SELECT DISTINCT Estado_Civil, COUNT(Qtd_Comprada_Total) AS Qtd FROM tabela_marketing GROUP BY Estado_Civil ''').show()

+-------------+---+
| Estado_Civil|Qtd|
+-------------+---+
|Divorciado(a)|231|
|    Casado(a)|857|
|     Viuvo(a)| 76|
|    Namorando|572|
|  Solteiro(a)|470|
|         null|  7|
+-------------+---+

In [82]:
#Verificar a relação de compra de produtos doce e crianças e/ou adolescentes em casa
spark.sql(""" SELECT Ano_Nascimento, Escolaridade, Crianca, Adolescente, Qtd_Prod_Doce FROM tabela_marketing WHERE Crianca >= 1 ORDER BY Qtd_Prod_Doce DESC;""").show()

+--------------+------------+-------+-----------+-------------+
|Ano_Nascimento|Escolaridade|Crianca|Adolescente|Qtd_Prod_Doce|
+--------------+------------+-------+-----------+-------------+
|          1979|Ensino Medio|      1|          1|          150|
|          1986|  Graducacao|      1|          0|          149|
|          1971|  Graducacao|      1|          0|          147|
|          1975|  Graducacao|      1|          1|          138|
|          1978|    Mestrado|      1|          0|          126|
|          1972|  Graducacao|      1|          0|          126|
|          1956|    Mestrado|      1|          1|          114|
|          1972|    Mestrado|      1|          1|          109|
|          1986|  Graducacao|      1|          0|          107|
|          1986|  Graducacao|      1|          0|          107|
|          1978|Ensino Medio|      1|          0|          103|
|          1970|  Graducacao|      1|          2|          102|
|          1978|  Graducacao|      1|          0|           97|
|          1967|Ensino Medio|      1|          1|           95|
|          1965|    Mestrado|      1|          1|           91|
|          1971|  Graducacao|      1|          0|           88|
|          1952|Ensino Medio|      1|          1|           86|
|          1971|  Graducacao|      1|          0|           80|
|          1987|  Graducacao|      1|          0|           78|
|          1980|  Graducacao|      1|          0|           72|
+--------------+------------+-------+-----------+-------------+
only showing top 20 rows

In [89]:
#Relação entre Escolaridade, Estado Civil, Renda e a Quantidade Total comprada
spark.sql(""" SELECT Escolaridade, Estado_Civil, Idade_Cliente, Renda, Qtd_Comprada_Total FROM tabela_marketing ORDER BY Idade_Cliente""").show()

+------------------+------------+-------------+-------+------------------+
|      Escolaridade|Estado_Civil|Idade_Cliente|  Renda|Qtd_Comprada_Total|
+------------------+------------+-------------+-------+------------------+
|      Ensino Medio|   Casado(a)|           25| 7500.0|               122|
|Ensino Fundamental|   Casado(a)|           25|14421.0|                16|
|      Ensino Medio| Solteiro(a)|           26|83257.0|              1365|
|      Ensino Medio| Solteiro(a)|           26|80617.0|              1435|
|        Graducacao| Solteiro(a)|           26|71163.0|               960|
|        Graducacao| Solteiro(a)|           26|34824.0|                23|
|        Graducacao| Solteiro(a)|           26|34824.0|                23|
|        Graducacao|   Namorando|           27|80685.0|              1004|
|        Graducacao| Solteiro(a)|           27|95529.0|              1990|
|        Graducacao|   Namorando|           27|80134.0|              1378|
|        Graducacao| Solteiro(a)|           28|74293.0|              1127|
|        Graducacao| Solteiro(a)|           28|72354.0|              1228|
|        Graducacao| Solteiro(a)|           28|74293.0|              1127|
|        Graducacao| Solteiro(a)|           28|70515.0|              1258|
|        Graducacao|        null|           28|79244.0|              1216|
|        Graducacao|   Casado(a)|           29|34935.0|               137|
|Ensino Fundamental|   Casado(a)|           29|17256.0|                62|
|          Mestrado|   Namorando|           29|42670.0|               241|
|          Mestrado| Solteiro(a)|           29|92859.0|              2077|
|        Graducacao|   Casado(a)|           29|34935.0|               137|
+------------------+------------+-------------+-------+------------------+
only showing top 20 rows

In [99]:
#Relação de Idade, Renda, Escolaridade "Mestrado" e Estado Civil "Solteiro(a)".
spark.sql(''' SELECT Idade_Cliente, Escolaridade, Estado_Civil, Renda FROM tabela_marketing WHERE Estado_Civil = "Solteiro(a)" AND Escolaridade = "Mestrado" ''').show()

+-------------+------------+------------+-------+
|Idade_Cliente|Escolaridade|Estado_Civil|  Renda|
+-------------+------------+------------+-------+
|           29|    Mestrado| Solteiro(a)|92859.0|
|           30|    Mestrado| Solteiro(a)|90638.0|
|           30|    Mestrado| Solteiro(a)|90638.0|
|           31|    Mestrado| Solteiro(a)|91172.0|
|           33|    Mestrado| Solteiro(a)|90247.0|
|           34|    Mestrado| Solteiro(a)|73454.0|
|           34|    Mestrado| Solteiro(a)|41020.0|
|           37|    Mestrado| Solteiro(a)|18890.0|
|           38|    Mestrado| Solteiro(a)|89616.0|
|           39|    Mestrado| Solteiro(a)|75777.0|
|           39|    Mestrado| Solteiro(a)| 6560.0|
|           39|    Mestrado| Solteiro(a)|75777.0|
|           43|    Mestrado| Solteiro(a)|68092.0|
|           45|    Mestrado| Solteiro(a)|70893.0|
|           45|    Mestrado| Solteiro(a)|72309.0|
|           46|    Mestrado| Solteiro(a)|81169.0|
|           51|    Mestrado| Solteiro(a)|75345.0|
|           51|    Mestrado| Solteiro(a)|44802.0|
|           52|    Mestrado| Solteiro(a)|26877.0|
|           56|    Mestrado| Solteiro(a)|69882.0|
+-------------+------------+------------+-------+
only showing top 20 rows

In [102]:
#Relação de idade e estado civil dos 10 maiores consumidores de Produtos_Carne
spark.sql(""" SELECT Idade_Cliente, Estado_Civil, Qtd_Prod_Carne FROM tabela_marketing ORDER BY Qtd_Prod_Carne DESC; """).show(10)

+-------------+------------+--------------+
|Idade_Cliente|Estado_Civil|Qtd_Prod_Carne|
+-------------+------------+--------------+
|           42|   Casado(a)|          1725|
|           44|   Namorando|          1725|
|           39|   Casado(a)|          1622|
|           48|   Casado(a)|          1582|
|           58| Solteiro(a)|           984|
|           65|   Casado(a)|           981|
|           55| Solteiro(a)|           974|
|           60| Solteiro(a)|           968|
|           50| Solteiro(a)|           961|
|           31| Solteiro(a)|           951|
+-------------+------------+--------------+
only showing top 10 rows

In [104]:
#Relação de idade, renda, estado civil e escolaridade dos 5 maiores consumidores de Frutas
spark.sql(""" SELECT Idade_Cliente, Renda, Estado_Civil, Qtd_Frutas, Escolaridade FROM tabela_marketing ORDER BY Qtd_Frutas DESC; """).show(5)

+-------------+-------+------------+----------+------------+
|Idade_Cliente|  Renda|Estado_Civil|Qtd_Frutas|Escolaridade|
+-------------+-------+------------+----------+------------+
|           42|60474.0| Solteiro(a)|       199|  Graducacao|
|           42|60474.0| Solteiro(a)|       199|  Graducacao|
|           50|78931.0|   Casado(a)|       197|   Doutorado|
|           73|82032.0|    Viuvo(a)|       194|   Doutorado|
|           61|89058.0|   Casado(a)|       194|    Mestrado|
+-------------+-------+------------+----------+------------+
only showing top 5 rows